<h1>商品詳細</h1>
<div>
  <%= attachment_image_tag @item, :image %>
  <p>商品名<%= @item.item_name %></p>
  <p>商品説明<%= @item.introduction %></p>
  <p>税抜価格<%= @item.no_tax_price %></p>
  <% if @item.is_active? %>
  <p>販売停止</p>
  <% else %>
  <p>販売中</p>
  <% end %>

</div>